<html>
	<body>
		<header>
			<meta charset="utf-8">
			<title>Site Visitka</title>
		</header>
		<!--header-->
		<div class="header">
			<div class="header-layout">
				<div class="header-navigation">
					<ul class="navigation-bar">
						<li><a href="#">Обо мне</a></li>
						<li><a href="#">Портфолио</a></li>
						<li><a href="#">Услуги</a></li>
						<li><a href="#">Блог</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
			</div>
		</div>
	   <!--End of header-->
		<section class="about-me">
			<div class="about-me-layout clearfix">
				<div class="about-me-image">
					
				</div>
			<div class="about-me-text">
				<h1>Обо мне</h1>
				<span>
					Хикикомори (яп. ひきこもり, 引き籠もり , букв. нахождение в уединении, то есть, «острая социальная самоизоляция») — японский термин, обозначающий подростков и молодёжь, отказывающихся от социальной жизни и зачастую стремящихся к крайней степени изоляции и уединения вследствие разных личных и социальных факторов. Такие люди не имеют работы и живут на иждивении родственников. Слово «хикикомори» относится как к социальному явлению вообще, так и к индивидуумам, принадлежащим к этой социальной группе.
				</span>
				<a href="" class="about-me-button">Связаться со мной!</a>
			</div>	
			</div>
		</section>
		<section class="features">
			<div class="features-layout clearfix">
				<div class="feature-1">
					<span class="pseudo-h1">
						ПРЕКРАСНЫЕ РАБОТЫ
					</span>
					<span>
						Такие люди не имеют работы и живут на иждивении родственников. Слово «хикикомори» относится как к социальному явлению вообще, так и к индивидуумам, принадлежащим к этой социальной группе.
					</span>
					<a href="#" class="btn features-btn-1">МНЕ НУЖНО БОЛЬШЕ ИНФОРМАЦИИ</a>
				</div>
				<div class="feature-2">
					<span class="pseudo-h1">
						ВЫСОКИЕ ЦЕНЫ
					</span>
					<span>
						Такие люди не имеют работы и живут на иждивении родственников. Слово «хикикомори» относится как к социальному явлению вообще, так и к индивидуумам, принадлежащим к этой социальной группе.
					</span>
					<a href="#" class="btn features-btn-2">МНЕ НУЖНО БОЛЬШЕ ИНФОРМАЦИИ</a>
				</div>
				<div class="feature-3">
					<span class="pseudo-h1">
						МЕДЛЕННО И ДОРОГО
					</span>
					<span>
						Такие люди не имеют работы и живут на иждивении родственников. Слово «хикикомори» относится как к социальному явлению вообще, так и к индивидуумам, принадлежащим к этой социальной группе.
					</span>
					<a href="#" class="btn features-btn-3">МНЕ НУЖНО БОЛЬШЕ ИНФОРМАЦИИ</a>
				</div>
			</div>
		</section>
		<div class="subs">
			<div class="subs-layout">
				<span class="subs-text">ПОДПИШИСЬ НА МЕНЯ</span>
			<div class="subs-form">	
				<form>
					<input type="text">	
					<input type="btn">
				</form>
			</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer-layout">
				<span class="copyright">
					Кот
				</span>
			</div>
		</div>
	</body>
</html>